<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
</head>
<body>

<h2>Congratulations! You've successfully created an account.</h2>

<p>You are now able to access the Pop Divas Fantasy League.</p>
<button><a href="/squads">View Squads</a></button>
</body>
</html>
