<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  </head>
  <body>

<h1>Yikes!</h1>
<p>Looks like you're not the squad owner.</p>
<a href='/squads'>Go Back</a>
</body>
</html>
