<!DOCTYPE html>
<html>
<head>
<title>Pop Divas Fantasy League</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div>
<button><a href="/">Home</a></button>

      <%= yield %>

      <br></br>
    <footer class="branding">
      <small>&copy; 2018 <strong>PopDivasFantasyLeague</strong></small>
    </footer>
  </div>
  </body>
</html>
